<div class="navbar">
  <h1></h1>
  <ul class="nav navbar-nav">
    <li>
      <a routerLink="basic_info" routerLinkActive="active">
      <button type="button" class="btn btn-primary">Thông tin cá nhân</button>
      </a>
    </li>
    <li>
      <a routerLink="password_change" routerLinkActive="active">
      <button type="button" class="btn btn-primary">Đổi mật khẩu</button>
      </a>
    </li>
    <li>
      <a routerLink="subcribed_channels" routerLinkActive="active">
      <button type="button" class="btn btn-primary">Kênh theo dõi</button>
      </a>
    </li>
  </ul>
</div>
<div>
  <router-outlet></router-outlet>
</div>


