/* You can add global styles to this file, and also import other style files */

html {
    background-color: #67c8bb;
    
}
body {
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 30px;
}
